<div class="container">
    <p>Autocomplete Example</p>
    <div id="input">
        <input #input [(ngModel)]="inputValue" />
    </div>

    <div class="container-output">
        <ul #output *ngIf="isDisplayed">
            <li class="list-item" *ngFor="let country of countries" value="country.code"
                (click)="selectOption(country)">
                {{ country.name }}
            </li>
        </ul>
        <br>
        <hr />
        <pre>
            {{ selectedOption | json }}
        </pre>
    </div>
</div>